<div>
  article-detail works! {{ categories$ | async | json }}
  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  @defer{
  <span>this is defer</span>
  }@placeholder (minimum 5000ms) {
  <span>defer placeholder</span>
  }@loading(after 100ms; minimum 1s) { <span>defer loading</span> } @error {
  <span>error</span>}
  <div #greeting>Hello!</div>
  @defer (on viewport(greeting)) {
  <div>greeting</div>
  }
</div>
